body{
	padding: 0;
	margin: 0;
	font-family: 'Red Hat Text', sans-serif;
	--second-color: #FFB800;
}
.container{
	width: 1120px;
	margin: 0 auto;
}
header{
	display: flex;
	justify-content: space-between;
	height: 10em;
	align-items: center;
}
header .logo{
	margin-left: 7em;
}
header nav{
	margin-right: 5em;
}
header .logo img{
	width: 15em;
}
header nav{
	display: flex;
	margin-right: 5em;
}
header nav a{
	font-family: arial;
	text-decoration: none;
	padding: 1em;
	color: grey;
}
nav a:hover{
	border-radius: 10px;
	border: 2px solid var(--second-color);
	box-sizing: border-box;
	transform: skew(-20deg);
	color: var(--second-color);
}
nav a:nth-child(3){
	border-radius: 10px;
	border: 2px solid var(--second-color);
	box-sizing: border-box;
	transform: skew(-20deg);
	color: var(--second-color);
}
.inner_topblock{
	display: flex;
	justify-content: space-between;	
}
.top_text{
	width: 30%;
	margin-left: 8em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.top_text h1{
	font-family: 'Rock Salt', cursive;
}
.top_text p{
	word-spacing: 0.3em;
	line-height: 1.5em;
}
.top_img{
	width: 60%;
}
.top_img img{
	width: 100%;
}
.top_block a{
	background: var(--second-color);
	padding: 1em;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border-radius: 0.4em;
	margin-top: 4em;
}
.check_list .head{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5em;
}
.head h2{
	font-size: 30px;
	position: relative;
	margin-bottom: 4em;
}
.head h2:after{
	content: ' ';
	display: inline-block;
	position: absolute;
	right: 60px;
	top: 100px;
	width: 5em;
	height: 0.3em;
	border-radius: 20px;
	background: var(--second-color);
}
.head p{
	width: 80%;
	text-align: center;
}
.advices{
	display: flex;
	justify-content: space-between;
}
.column{
	width: 30%;
	display: flex;
	flex-direction: column;
}
.column > div{
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../img/flat-lay-tickets-camera-arrangement.jpg);
	filter: drop-shadow(-10px -10px 50px rgba(0, 0, 0, 0.25));
	border-radius: 20px;
	margin-bottom: 2em;
	background-position: -300px;
	background-size: 300%;
	background-repeat: no-repeat;
}
.column > div > div{
	margin-bottom: 1.5em;
}
.advices_after{
	display: flex;
	flex-direction: column;
}
.advices_after > h3{
	text-align: center;
	font-size: 45px;
	position: relative;
	margin-bottom: 5em;
}
.advices_after > h3:after{
	content: " ";
	display: inline-block;
	position: absolute;
	left: 45%;
	top: 3em;
	width: 3em;
	height: 0.2em;
	background: var(--second-color);
}
.advice_after{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.advices_after .text{
	width: 45%;
	display: inline-block;
}
.advices_after .text h3{
	text-align: center;
}
.advices_after .text p{
	text-align: center;
	font-size: 15px;
	line-height: 25px;
}
.advices_after .text:before{
	content: " ";
	display: inline-block;
	width: 100%;
	height: 0.3em;
	background: var(--second-color)
}
.advices_after .text:after{
	content: " ";
	display: inline-block;
	width: 100%;
	height: 0.3em;
	background: var(--second-color)
}
.triangle{
	width: 45%;
}
.triangle_reverse{
	width: 45%;
}
.triangle_reverse{
	transform: rotate(180deg);
}
footer{
	background: url(../img/plane.png);
	width: 100%;
	height: 30em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: 100%;
	object-fit: cover;
}
.footer_nav{
	display: flex;
	margin-top: 1em;
}
.footer_nav a{
	padding: 1em 3em;
	color: grey;
	font-size: 20px;
	text-decoration: none;
}
.footer_nav a:nth-child(3){
	border: 2px solid var(--second-color);
	border-radius: 10px;
	box-sizing: border-box;
	transform: skew(-20deg);
	color: var(--second-color);
}
.footer_nav a:hover{
	border-radius: 10px;
	border: 2px solid var(--second-color);
	box-sizing: border-box;
	transform: skew(-20deg);
	color: var(--second-color);
}
.nav_social{
	display: flex;
}
.nav_social img{
	display: inline-block;
	border-radius: 50%;
	background: var(--second-color);
	padding: 1em;
	width: 3em;
	height: 3em;
	margin: 2em;
}