body{
	padding: 0;
	margin: 0;
	font-family: 'Red Hat Text', sans-serif;
	--third-color: #50BA8D;
}
.container{
	width: 1120px;
	margin: 0 auto;
}
header{
	display: flex;
	justify-content: space-between;
	height: 10em;
	align-items: center;
}
header .logo{
	margin-left: 7em;
}
header nav{
	margin-right: 5em;
}
header .logo img{
	width: 15em;
}
header nav{
	display: flex;
	margin-right: 5em;
}
header nav a{
	font-family: arial;
	text-decoration: none;
	padding: 1em;
	color: grey;
}
nav a:hover{
	border-radius: 10px;
	border: 2px solid var(--third-color);
	box-sizing: border-box;
	transform: skew(-20deg);
	color: var(--third-color);
}
nav a:nth-child(2){
	border-radius: 10px;
	border: 2px solid var(--third-color);
	box-sizing: border-box;
	transform: skew(-20deg);
	color: var(--third-color);
}
.top_block{
	margin-bottom: 7em;
}
.inner_topblock{
	display: flex;
	justify-content: space-between;	
}
.top_text{
	width: 30%;
	margin-left: 8em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.top_text h1{
	font-family: 'Rock Salt', cursive;
}
.top_text p{
	word-spacing: 0.3em;
	line-height: 1.5em;
}
.top_img{
	width: 60%;
}
.top_img img{
	width: 100%;
}
.inner_head{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.inner_head h2{
	font-size: 35px;
	position: relative;
	margin-bottom: 4em;
}
.inner_head h2:after{
	content: " ";
	display: inline-block;
	background: var(--third-color);
	width: 3em;
	height: 0.3em;
	position: absolute;
	left: 35%;
	top: 3em;
}
.inner_head p{
	text-align: center;	
	width: 80%;
	line-height: 24px;
}
.country_list{
	background-image: url(../img/background_country.png);
	background-size: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 5em;
	margin-bottom: 5em;
}
.country{
	width: 30%;
	margin: 2em 1em;
	background: white;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 10px #7a7a7a;
}
.country img{
	width: 100%;
}
.country .info{
	padding: 1em;
}
.country .title{
	display: flex;
	justify-content: space-between;
}
.country .text{
	display: flex;
	justify-content: space-between;
}
.country p{
	font-size: 14.4px;
	line-height: 22px;
	text-align: justify;
	display: inline-block;
	width: 70%;
}
.country .time{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 15px;
	text-align: right;
}
.country .line{
	display: inline-block;
	width: 100%;
	height: 0.1em;
	background: grey;
	opacity: 0.2;
	margin-bottom: 0.3em;
}
.country .marking{
	display: flex;
	justify-content: space-between;
}
.country .rate{
	margin: 0.2em;
	display: flex;
}
.country .marks{
	margin: 0.1em;
	margin-left: 1.3em;
}
.country .marks img{
	width: 1em;
}
.country a{
	margin: 0.2em;
	text-decoration: none;
	color: white;
	background: var(--third-color);
	padding: 0.3em 0.6em;
	border-radius: 7px;
	font-size: 13px;
}
.left{
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	position: relative;
	top: 600px;
	left: 490px;
}
.right{
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	position: relative;
	top: 600px;
	left: 550px;
}
.galery{
	margin-bottom: 5em;
}
.galery .galery_top{
	display: flex;
	justify-content: center;
}
.galery h3{
	font-size: 30px;
	text-align: center;
	width: 300px;
	position: relative;
	margin-bottom: 5em;
}
.galery h3:after{
	content: " ";
	display: inline-block;
	width: 3em;
	height: 0.2em;
	position: absolute;
	left: 35%;
	top: 150px;
	background: var(--third-color);
}
.galery_main{
	height: 30em;
	display: flex;
	overflow: hidden;
	margin-bottom: 15em;
	text-align: center;
	padding: 1em;
	position: relative;
}
.galery1_img{
	width: 20em;
	height: 25em;
	margin: 0.5em 1em;
}
.galery2_img{
	width: 20em;
	height: 25em;
	margin: 0.5em;
	align-self: flex-end;
}
.galery1_img img{
	width: 20em;
	height: 25em;
	object-fit: cover;
	box-shadow: 10px 10px 10px #bdbdbd;
}
.galery2_img img{
	width: 20em;
	height: 25em;
	object-fit: cover;
	box-shadow: 10px 10px 10px #bdbdbd;
}
footer{
	background: url(../img/plane.png);
	width: 100%;
	height: 30em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: 100%;
	object-fit: cover;
}
.footer_nav{
	display: flex;
	margin-top: 1em;
}
.footer_nav a{
	padding: 1em 3em;
	color: grey;
	font-size: 20px;
	text-decoration: none;
}
.footer_nav a:nth-child(2){
	border: 2px solid var(--third-color);
	border-radius: 10px;
	box-sizing: border-box;
	transform: skew(-20deg);
	color: var(--third-color);
}
.footer_nav a:hover{
	border-radius: 10px;
	border: 2px solid var(--third-color);
	box-sizing: border-box;
	transform: skew(-20deg);
	color: var(--third-color);
}
.nav_social{
	display: flex;
}
.nav_social img{
	display: inline-block;
	border-radius: 50%;
	background: var(--third-color);
	padding: 1em;
	width: 3em;
	height: 3em;
	margin: 2em;
}